html {
  font-family: Spectral, sans-serif;
  color: #000;
}

a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #ffbb33;
}

h1 {
  font-size: 120px;
  font-weight: 600;
}

#category {
  font-family: Spectral;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar-container {
  background: #fff !important;
  border-bottom: thin solid #000;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

/* Specific Styles */

.logo-text {
  font-size: 1.5rem;
  font-family: Spectral;
  font-weight: 800;
  font-style: italic;
}

/* Spectral Font - Normal */

@font-face {
  font-family: 'Spectral';
  src: url(./fonts/Spectral/Spectral-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'Spectral';
  src: url(./fonts/Spectral/Spectral-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Spectral';
  src: url(./fonts/Spectral/Spectral-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Spectral';
  src: url(./fonts/Spectral/Spectral-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Spectral';
  src: url(./fonts/Spectral/Spectral-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Spectral';
  src: url(./fonts/Spectral/Spectral-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Spectral';
  src: url(./fonts/Spectral/Spectral-ExtraLight.ttf);
  font-weight: 200;
}

/* Spectral Font - Italics */

@font-face {
  font-family: 'Spectral';
  src: url(./fonts/Spectral/Spectral-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Spectral';
  src: url(./fonts/Spectral/Spectral-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Spectral';
  src: url(./fonts/Spectral/Spectral-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Spectral';
  src: url(./fonts/Spectral/Spectral-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Spectral';
  src: url(./fonts/Spectral/Spectral-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Spectral';
  src: url(./fonts/Spectral/Spectral-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Spectral';
  src: url(./fonts/Spectral/Spectral-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}
